body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #121212; /* Dark background */
    color: #ccc; /* Light text color for contrast */
}

header {
    background-color: #1c1c1c; /* Slightly lighter dark shade for the header */
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.gpt-item {
    background: #1e1e1e; /* Dark card background */
    border-radius: 7px;
    box-shadow: 0 2px 20px rgba(255, 255, 255, 0.05); /* Subtle shadow for dark theme */
    overflow: hidden;
    width: calc(33.333% - 40px);
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer; /* Indicates the item is clickable */
}

.gpt-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
}

.gpt-item img {
    max-width: 100%;
    display: block;
}

.gpt-item h2 {
    background: #272727; /* Dark header for each item */
    color: #fff;
    padding: 10px;
    margin: 0;
    font-size: 20px;
}

.gpt-item p {
    padding: 0 10px 10px;
    margin: 0;
    color: #ccc; /* Light paragraph text for contrast */
}

/* This is a trick to make the entire item clickable */
.gpt-item a {
    position: relative;
    display: block;
    height: 100%;
    text-decoration: none; /* No underlines on links */
}

.gpt-item a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.gpt-item h2, .gpt-item p {
    position: relative;
    z-index: 2; /* Ensures text appears above the ::after pseudo-element */
}

@media (max-width: 1000px) {
    .gpt-item {
        width: calc(50% - 40px);
    }
}

@media (max-width: 600px) {
    .gpt-item {
        width: 100%;
    }
}
